<% if @src %>
    <h1>Clone <%= link_to @src.name, :action => 'show', :id => @src %></h1>
<% else %>
    <h1>New Node</h1>
<% end %>
<% form_tag '/nodes', :method => :post do %>
    <%= text_field_tag :key %>
    <%= text_field_tag :value %>
     <%= submit_tag "Create" %>
<% end %>
<hr />
<%= link_to "Nodes", :action => 'index' %>
