<div id="content">
  <b class="r5" ></b><b class="r3"></b><b class="r2"></b>
  <b class="r1"></b><b class="r1"></b>
   <div class="node editor" id="<%= @node.id %>" >
    <% for key in @node.vkeys %>
        <div class="key line draggable">
          <%= key %>
        </div>
        <% unless @node[key].blank? %>
            <div class="value draggable">
              <%= @node[key] %>
            </div>
        <% end %>
    <% end %>
  </div>
  <b class="r1"></b><b class="r1"></b>
  <b class="r2"></b><b class="r3"></b><b class="r5"></b>
</div>
<hr/>
<%= link_to "New", :action => 'new' %> | <%= link_to "Clone", :action => 'new', :id => @node %>
<hr/>
<%= link_to "Nodes", :action => 'index' %>

