<h1><%= link_to @node.name, { :action => 'edit', :id => @node.id}, { :title => 'Edit Node'} %></h1>
<div id="content">
<% for key in @node.keys %>
      <div class="key line draggable">
        <%= key %>
      </div>
      <% unless @node[key].blank? %>
          <div class="value draggable">
            <%= @node[key] %>
          </div>
      <% end %>
<% end %>
</div>
<hr/>
<%= link_to "New", :action => 'new' %> | <%= link_to "Clone", :action => 'new', :id => @node %>
<hr/>
<%= link_to "Nodes", :action => 'index' %>

