%h1= t(:nodes)
%table{class: 'nodes-list'}
  %thead
    %tr
      %th{colspan: 3}= link_to image_tag('nodes/create.png'),
        new_node_path, class: 'nodes-action', :title => t(:add_new_node)
    %tr
      %th= link_to Nodes::Node.human_attribute_name(:name),
        {action: :sort, field: :name}, class: 'nodes-sort-action', :title => t(:sort_by_name)
    -#%th= link_to Node.human_attribute_name(:date), :action => :sort, :field => :date
    -#%th= link_to Entry.human_attribute_name(:tags), :action => :sort, :field => :tag_list
  %tbody
    - @nodes.each do |node|
      %tr
      -#%td= l(node.date, :format=>:long)
      %td= link_to node.name,  node # "/entry/#{entry.title}"
      -#%td
      -#  - entry.tags.each do |tag|
      -#    =link_to tag, tag_path(tag)
