%h1 Listing nodes

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @nodes.each do |node|
      %tr
        %td= node.name
        %td= link_to 'Show', node
        %td= link_to 'Edit', edit_node_path(node)
        %td= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Node', new_node_path
