<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @node.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @node.text %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
