!!! 5
%html
  %head
    %title Nodes
    = stylesheet_link_tag 'nodes/nodes'
    = javascript_include_tag 'nodes/nodes'
    = csrf_meta_tags
    %link{:rel => 'icon', :href => image_path('nodes/favicon.ico'), :type => 'image/ico'}

  %body
    .flash
      .notice= flash[:notice]
      .alert= flash[:alert]

    = yield