<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
 <title>Nodes</title>
<%= javascript_include_tag 'jquery-1.4.2.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.1.custom.min' %>
<%= javascript_include_tag 'jrails' %>
<%= javascript_include_tag 'application' %>

 <%= stylesheet_link_tag 'style' %>

</head>
<body>
<div id="head">
 <div id="filter">
  <%= render :partial => "layouts/filter" %>
 </div>
 <div id="menu">
  <%= render :partial => "layouts/menu" %>
 </div>
 <div id="search">
  <%= render :partial => "layouts/search" %>
 </div>
  <!--div id="toolbar">
   <%#= render :partial => "layouts/toolbar" %>
  </div-->
</div>

<div id="body">
<hr/>
<p>
 <span id="notice"><%= flash[:notice] %></span>
</p>

<p>
 <span id="error"><%= flash[:error] %></span>
</p>


<%= yield %>

  <p>x:<span id="x-debug"></span></p>
  <p>y:<span id="y-debug"></span></p>
  <p>width:<span id="width-debug"></span></p>
  <p>height:<span id="height-debug"></span></p>

</div>


<div id="trash"  class="ui-draggable">
  <%= image_tag "trash-empty.png", :id=>"tool-trash", :title => "Trash" %>
</div>
    
</body>
</html>
